/* layout
----------------------------------------------- */

*{
	margin: 0;
	padding:0;
	}

body{
	 background:#FFF url(../images/html_background.gif) top left repeat;
	font: 86% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	}

#topborder{	

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.7em;
	background-color: #4096EE;
	z-index: 50;
	}
#flags{	
	position: fixed;
	top: 10px;
	left: 5px;
	width: 100%;
	height: 15px;
	background-color: #FFF;
	z-index: 50;
	}
.input_text {

  margin-left:12px;
  border:1px solid #BABEC4;
	height:15px;
	*height:21px;
	padding:2px 4px;
	width:293px;
	*width:303px;
	font-size:12px;
	color: #000;
	background-color:-moz-field;
	cursor:text;
	letter-spacing:normal;
	line-height:15px;
	text-align:start;
	text-indent:0;
	text-rendering:optimizelegibility;
	text-shadow:none;
	text-transform:none;
	word-spacing:normal;
}
.input_text:active {
	background-color:#FAF9CC;
}
.label {color: #356AA0; font-size:12px;font-weight: bold;}
.space{font-size:10px;}
#sidebar{ position:relative; top: 0px; left:20px;width: 240px; 	z-index: 30; float: left;}
* html div#sidebar  { top: 18px; left:20px;	width: 240px; position:absolute;
 }

#content{ margin: 35px auto auto 280px; min-width: 500px; max-width: 700px; background-color: #FFF;padding: 15px;}
#content-mac{ position: absolute; top: 0px; left: 170px; width: 800px;min-height: 1320px;height: auto; 
	background:#d9d6c3 url(../images/left-demo.png) top left repeat-y;padding: 10px 10px 10px 20px;}
	
#themes {width:800px; text-align: center;overflow:auto; }
#themes img {margin: 10px 5px 10px 5px;border: 2px solid #C1BD9D;}
#themes span{	 font-size: 0.75em; color: #356AA0; }
/* typography
----------------------------------------------- */

p {	line-height: 1.4em;	margin-bottom: 1.0em; font-size: 0.9em;}
p.lead { font-size: 1.0em; }

ol, ul{ margin: 0.5em 0 1.2em 2em; }	
ol, ul, dl { line-height: 1.4em; }
ol li{ margin-bottom: 0.2em; }
li{ font-size: 0.9em; }
li strong {color: #356AA0;}
dl{ margin: 0.5em 0 1.2em 0; }
dt{
	xfont-size: 0.9em;
	font-weight: bold; color: #999;
	padding-top: 0.4em;
	}
dd{	
	font-size: 0.9em;
	margin-bottom: 1.0em;
	padding-bottom: 0.9em;
	border-bottom: 1px dashed #3d3d33;
	}


h1, h2, h3, h4{ font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;}

h1 { font-size: 2.3em; background:transparent url(../images/logo.gif) no-repeat;
       padding: 9px;}
h1 a { color:#fff; border: none; }
h1 em{ font-size: 0.8em; color: #FFF; font-style: normal; letter-spacing: 0.4pt; }
h2 {
	font-size: 1.5em;
	letter-spacing: 0.4pt;
	color: #FF7400;
	text-transform: uppercase;
	padding-top: 0.5em;
	}
h3 {
	font-size: 1.0em;
	letter-spacing: 0.2pt;
	color: #FF8F31;
	text-transform: uppercase;
	padding-top: 0.5em;
	}
h4 {
	font-size: 0.85em;
	letter-spacing: 0.1pt;
	color: #F06C00;
	text-transform: uppercase;
	padding-top: 0.5em;
	}

a, .contact-link{
	color: #FF7400;
	text-decoration: none;
	cursor: hand;
	}

#content p a:hover,
#content dd a:hover { border-bottom: 1px dotted #FF7400; }
a img{ 	border: none;}

small{ font-size: 0.8em; }

pre{
  width: 80%; 
	display: block;
	margin: 1em 0;
	padding: 0.5em;
	border-left: 7px solid #4096EE;
	background-color: #EEEEEE;
	overflow: auto;
	}

code{
	font-size: 11px;
	font-family: Verdana,Sans-Serif;
	background-color: #EEEEEE;
	color: #356AA0;
	padding: 0.3em 0.4em;
	}

pre code{
	padding: 0; margin: 0;
}

kbd{
	color: #555;
	background-color: #ddd;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: inherit;
	font-family: inherit;
	padding: 0 3px 2px 4px;
	}

fieldset{ border: none; }

/* sidebar
----------------------------------------------- */
#sidebar a{
	color: #fff;
	}


#sidebar h1 a{ font-weight: bold; }
#sidebar h1 a:hover{  }

.nav{ list-style: none; margin: 1em 0 1em 0;}
.nav li{ padding: 0; margin: 0; }
.nav a{
	display: block;
	height: 2.0em;
	padding: 0.3em 0.2em 0.2em 0.8em;
	margin-bottom: 1px;
	color: #eee;
	background-color: #4096EE;
	}

.nav a:hover{
	color: #1a1a1a;
	background-color: #FF7400;
	}	


#sidebar .callout{ xbackground-color: #EEEEEE;
background-color: #EEEEEE;
	border: 1px solid #E0E0E0; 
	padding: 0.15em .3em; 
	font-size: 12px;  }
#sidebar .callout a{ color: #353535;}
#sidebar .callout a:hover { border-bottom: 1px dotted #FF7400; }
#sidebar .callout p{ margin-top: 0.3em; margin-left: 0.4em; margin-bottom: .4em; }

/* content
----------------------------------------------- */
#content ul{ margin-left: 4px;}
#content ul li{
	list-style: none;
	padding: 0 0 0 12px;
	background: url(../images/bullet.gif) no-repeat 0 6px;
	}
#content ul ul{ margin-top: 0;}
	
.register{
	background-color: #4096EE;
	border-left: 7px solid #FF7400; 
	padding: 0px 0px 0px 10px; 
	text-align: center; color: #FFF;
	height:30px; width:150px;position: relative; top:10px; left: 248px;color: #FFF;font-size: 13px; font-weight: bold;}
.register:hover{
	background-color: #FF7400;
	border-left: 7px solid #4096EE;
	}
	
.downloadWin{
	background-color: #4096EE;
	border-left: 7px solid #FF7400; 
	padding: 0px 0px 0px 10px; 
	width:49%;
	height: 65px;  
	display: table-cell;
	text-align: center; color: #FFF}
.downloadWin:hover{
	background-color: #FF7400;
	border-left: 7px solid #4096EE;
	}
.downloadMac{
	background-color: #4096EE;
  width:49%;
	height: 65px;   
  display: table-cell;  
  text-align: center;
	background-color: #4096EE;
	border-left: 7px solid #FF7400; 
	padding: 0px 0px 0px 10px; 
	margin: 0px}
.downloadMac:hover{
	background-color: #FF7400;
	border-left: 7px solid #4096EE; 
	}
#content ul.download li{
	padding: 0.3em 0;
	background-image:none;
	}
.downloadWin img{ padding:0px}
.downloadMac img{ padding:0px}
.downloadWin strong{ font-family: "Trebuchet MS",Verdana,Sans-Serif; font-size: 21px; color: #EEE;}
.downloadMac strong{ font-family: "Trebuchet MS",Verdana,Sans-Serif; font-size: 21px; color: #EEE;}
.downloadWin span{ font-family: "Trebuchet MS",Verdana,Sans-Serif; font-size: 17px; font-weight: bold; color: #EEE; line-height: 30px; margin-left:-7px;}
.downloadWin strong:hover{ font-family: "Trebuchet MS",Verdana,Sans-Serif; font-size: 21px; color: #D52B00}
.downloadMac strong:hover{ font-family: "Trebuchet MS",Verdana,Sans-Serif; font-size: 21px; color: #D52B00}
.downloadWin, .downloadMac em{ font-style: normal; color: #FF7400; }
.downloadWin:hover, .downloadMac:hover em{ font-style: normal; color: #4096EE; }

.downloadsep{
	width: 2%; 
	display: table-cell;
	padding: 0px 3px 0px 3px;
	background: #FFFFFF url(../images/spacer.gif) no-repeat top center}

.downloadsepM{
	width: 7px; 
	display: table-cell;
	padding: 0px 3px 0px 3px;
	background: #FFFFFF url(../images/spacer.gif) no-repeat top center}
.buynowsep{
	width: 2px; 
	display: table-cell;
	padding: 0px 2px 0px 2px;
	}		
		
.buynowWin{
	background-color: #FFF;
	border-left: 7px solid #FF7400; 
	padding: 0px 0px 0px 10px; 
	height: 40px;  
	display: table-cell;
	text-align: center}
.buynowWin:hover{
	background-color: #FF7400;
	border-left: 7px solid #FFF;
	}
.buynowMac{
	background-color: #FFF;
	border-left: 7px solid #FF3300; 
	padding: 0px 0px 0px 10px; 
	display: table-cell;
	text-align: center}
.buynowMac:hover{
	background-color: #FF7400;
	border-left: 7px solid #FFF;
	}	
	
#buy{color: white}
#buy:hover{color: black}
#content ul.buy li{
	padding: 0.3em 0;
	background-image:none;
	}
	
.buynowWin img{ padding:0px;}
.buynowMac img{ padding: 0px;}
.buynowWin strong{ font: 86% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; color:#202020;line-height:18px}
.buynowMac strong{ font: 86% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; color:#202020;line-height:18px}
.buynowMac strong:hover{ font-family: "Trebuchet MS",Verdana,Sans-Serif; font-size: 12px; color: #FFF;}
.buynowWin strong:hover{ font-family: "Trebuchet MS",Verdana,Sans-Serif; font-size: 12px; color: #FFF;}
.buynowWin em{ font-family: "Trebuchet MS",Verdana,Sans-Serif;font-size: 16px;font-style: normal;font-weight: bold; color: #FF7400; line-height:18px}
.buynowMac em{ font-family: "Trebuchet MS",Verdana,Sans-Serif;font-size: 16px;font-style: normal;font-weight: bold; color: #FF7400; line-height:18px}
.buynowWin:hover em{ font-style: normal; color: #FFF; }
.buynowMac:hover em{ font-style: normal; color: #FFF; }
		
/* misc
----------------------------------------------- */

.section{
	border-top: 4px solid #4096EE;
	margin-top: 5px;
	padding: 1.4em 0 3.2em 0;
	overflow: hidden;
	width: 100%;
	}
.first{ border-top: none; padding-top: 0; }

.thumbnail{
	padding: 3px 3px 8px 3px;
	background-color: #EEEEEE;
	border: 1px solid #E0E0E0;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	}	

.caption{ font-size: 0.9em; padding-top: 0.2em ;	}

/*---------------------Social----*/
.social{margin:0;}
.social li{float:left;display:inline;padding:0 8px 0 0;}
